/*  your css code here. If applicable */
 th, td {
	 border: 1px solid #ccc;
	 padding: 8px;
	 border-radius: 5px;
 }

table tr: nth-child(even){
	background-color: #ffffff;
}

table tr: nth-child(odd){
	background-color: #f2f2f2;
}

